{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
    {{#with main}}
    <main>
        <section class="my-4">
            {{> title data="My educationss" big=true}}
            <ul class="ps-5">
                <div class="row">
                    {{#each educations}}
                    <div class="col-4">
                        <li>
                            {{name}}
                            {{#unless isEnd}}
                            (ще в процессі)
                            {{/unless}}
                        </li>
                    </div>
                    {{/each}}
                </div>
            </ul>
        </section>
        <hr>
        <section class="mt-4">
            {{> title data="My certificates" big=false}}
            <ul class="ps-5">
                <div class="row">
                    {{#each certificates}}
                    <div class="col-4">
                        <li>
                            {{name}}
                            {{#if id includeZero=true}} ({{id}}) {{/if}}
                        </li>
                    </div>
                    {{/each}}
                </div>
            </ul>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}