{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<hr>
<main class="mt-5">
    <div class="row">
        <div class="col-5">
            <div>
                <h1>Cписок сторінок</h1>
            </div>
            <div class="mt-4">
                <p>Тут вам потрібно написати інформацію про ваш проєкт.
                Поки що можна написати будь-який текст</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-4">
            <div class="my-2">
                <a href="/summary" target="_blank" class="btn btn-primary px-5" style="width:200px;">Summary</a>
            </div>
            <div class="my-2">
                <a href="/skills" target="_blank" class="btn btn-primary px-5" style="width:200px;">Skills</a>
            </div>
            <div class="my-2">
                <a href="/education" target="_blank" class="btn btn-primary px-5" style="width:200px;">Education</a>
            </div>
            <div class="my-2">
                <a href="/work" target="_blank" class="btn btn-primary px-5" style="width:200px;">Work</a>
            </div>
            <div class="my-2">
                <a href="/person" target="_blank" class="btn btn-primary px-5" style="width:200px;">Person</a>
            </div>
            <div class="my-2">
                <a href="/bio" target="_blank" class="btn btn-primary px-5" style="width:200px;">Bio</a>
            </div>
            <div class="my-2">
                <a href="/program" target="_blank" class="btn btn-primary px-5" style="width:200px;">Program</a>
            </div>
        </div>
        <div class="col-4">
            <div class="my-2">
                <a href="/web" target="_blank" class="btn btn-primary px-5" style="width:200px;">Web</a>
            </div>
            <div class="my-2">
                <a href="/js" target="_blank" class="btn btn-primary px-5" style="width:200px;">JS</a>
            </div>
            <div class="my-2">
                <a href="/car" target="_blank" class="btn btn-primary px-5" style="width:200px;">Car</a>
            </div>
            <div class="my-2">
                <a href="/mac" target="_blank" class="btn btn-primary px-5" style="width:200px;">Mac</a>
            </div>
            <div class="my-2">
                <a href="/facebook" target="_blank" class="btn btn-primary px-5" style="width:200px;">Facebook</a>
            </div>
            <div class="my-2">
                <a href="/task21" target="_blank" class="btn btn-primary px-5" style="width:200px;">Task21</a>
            </div>
            <div class="my-2">
                <a href="/task22" target="_blank" class="btn btn-primary px-5" style="width:200px;">Task22</a>
            </div>
        </div>
        <div class="col-4">
            <div class="my-2">
                <a href="/task31" target="_blank" class="btn btn-primary px-5" style="width:200px;">Task31</a>
            </div>
            <div class="my-2">
                <a href="/shophome" target="_blank" class="btn btn-primary px-5" style="width:200px;">Shophome</a>
            </div>
            <div class="my-2">
                <a href="/shoporder" target="_blank" class="btn btn-primary px-5" style="width:200px;">Shoporder</a>
            </div>
            <div class="my-2">
                <a href="/shopcart" target="_blank" class="btn btn-primary px-5" style="width:200px;">Shopcart</a>
            </div>
            <div class="my-2">
                <a href="/shopprofile" target="_blank" class="btn btn-primary px-5" style="width:200px;">Shopprofile</a>
            </div>
            <div class="my-2">
                <a href="/shopreview" target="_blank" class="btn btn-primary px-5" style="width:200px;">Shopreview</a>
            </div>
            <div class="my-2">
                <a href="/shopcatalog" target="_blank" class="btn btn-primary px-5" style="width:200px;">Shopcatalog</a>
            </div>
        </div>
    </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}