<footer>
    <section class=" row gy-3">
        {{#each footer}}
        <div class="col-2">
            <div class="nav flex-column">
                {{#each this}}
                <a href="{{link}}" class="nav-link {{#if @last}}disabled{{/if}} mb-3">{{text}}</a>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </section>
</footer>